* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

p,
ul,
h2 {
  margin: 0;
  padding: 0 10px;
}

.country-list,
.country__list-info {
  list-style: none;
}

.country__item,
.country__name {
  padding: 5px;
  display: flex;
  align-items: center;
}

.country__info {
  padding: 5px 0;
}
